--extra-index-url https://testpypi.python.org/pypi
#informatica-airflow-plugin>=0.1.10
cryptography==3.2
pycryptodome==3.9.0
six
#pygit2==0.28.2
devops-supporting-tools>=1.2.21
#devops-fitnesse_tools

